<%- include('intro', {
	person: person,
	contexts: contexts
}) %>
<div id="context">
	<div class="content">
		<div id="messages">
			<h2><%= context.name %></h2>
			<% if (member) { %>
				<form id="send" action="/api/send" method="post">
					<input type="hidden" name="context_id" value="<%= context.id %>">
					<textarea id="content" name="content" cols="80" rows="3" placeholder="type your message here."></textarea>
					<input type="submit" value="Send message →">
					<div class="response"></div>
				</form>
			<% } else { %>
				<a href="/join/<%= context.slug %>" class="button" id="join-link">Join this group</a>
			<% } %>
			<div id="message-list">
				<%- include('message-page', {
					context: context,
					member: member
				}) %>
				<% if (context.total_messages == 0) { %>
					<h2 id="no-messages">Nobody has sent messages here yet.</h2>
				<% } %>
			</div>
			<% if (context.total_messages > context.messages.length) { %>
				<% if (! member) { %>
					<a href="#more-messages" id="more-messages" class="button disabled">Login to view more</a>
				<% } else { %>
					<% let last_message = context.messages.pop() %>
					<a href="#more-messages" id="more-messages" class="button" data-before-id="<%= last_message.id %>" data-group="<%= context.slug %>" data-total-messages="<%= context.total_messages %>">More messages →</a>
				<% } %>
			<% } else { %>
				<a href="#more-messages" id="more-messages" class="button disabled">End of messages</a>
			<% } %>
		</div>
		<%- include('sidebar') %>
		<br class="clear">
	</div>
</div>
