<%- include('nav', {
	person: person,
	contexts: contexts
}) %>
<div id="context">
	<div class="content">
		<div id="messages">
			<h1><%= context.name %></h1>
			<pre class="topic"><%= context.topic %></pre>
			<form action="/api/topic" method="post" id="topic-form" class="hidden">
				<input type="hidden" name="context_id" value="<%= context.id %>">
				<input type="text" id="topic-input" name="topic" value="<%= context.topic %>">
				<% if (context.topic_revision) { %>
					<div class="topic-revision help">
						Updated
						<span class="timestamp"><%= context.topic_revision.updated %></span>
						by <a href="/<%= context.topic_revision.person.slug %>" class="person"><%= context.topic_revision.person.name %></a>
					</div>
				<% } else { %>
					<div class="topic-revision help hidden">
						Updated
						<span class="timestamp"></span>
						by <a href="/" class="person"></a>
					</div>
				<% } %>
				<input type="submit" value="Update topic →">
				<input type="button" value="Cancel" class="cancel button">
				<div class="response"></div>
			</form>
			<a href="#" id="edit-topic">Edit topic</a>
			<% if (context.parent) { %>
				<ul class="back">
					<li><a href="/group/<%= context.parent.slug %>">Parent group: <%= context.parent.name %></a></li>
				</ul>
			<% } %>
			<% if (member) { %>
				<form id="send" action="/api/send" method="post">
					<input type="hidden" name="context_id" value="<%= context.id %>">
					<textarea id="content" name="content" cols="40" rows="3" placeholder="type your message here."></textarea>
					<input type="submit" value="Send message →">
					<div class="response"></div>
				</form>
			<% } else { %>
				<a href="/join/<%= context.slug %>" class="button" id="join-link">Join this group</a>
			<% } %>
			<div id="message-list">
				<%- include('message-page', {
					context: context,
					member: member
				}) %>
				<% if (context.total_messages == 0) { %>
					<h2 id="no-messages">Nobody has sent messages here yet.</h2>
				<% } %>
			</div>
			<% if (context.total_messages > context.messages.length) { %>
				<% if (! member) { %>
					<a href="#more-messages" id="more-messages" class="button disabled">Login to view more</a>
				<% } else { %>
					<% let last_message = context.messages.pop() %>
					<a href="#more-messages" id="more-messages" class="button" data-before-id="<%= last_message.id %>" data-group="<%= context.slug %>" data-total-messages="<%= context.total_messages %>">More messages →</a>
				<% } %>
			<% } else { %>
				<a href="#more-messages" id="more-messages" class="button disabled">End of messages</a>
			<% } %>
		</div>
		<%- include('sidebar') %>
		<br class="clear">
	</div>
</div>
