<div id="intro">
	<div class="content">
		<div class="heading">
			<h1>Organizer Network</h1>
			<h2 class="tagline">Tools and strategies for social justice organizing.</h2>
		</div>
		<div class="options">
			<p>Hello, <strong><%= person.name %></strong>.</p>
			<ul>
				<li><a href="/<%= person.slug %>">View your profile</a>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="context">
	<div class="content">
		<div id="messages">
			<h2><%= context.name %></h2>
			<form id="send" action="/api/send" method="post">
				<input type="hidden" name="context_id" value="<%= context.id %>">
				<label for="content">Post a message</label>
				<textarea id="content" name="content" cols="80" rows="3" placeholder="so shines a good deed in a weary world."></textarea>
				<input type="submit" value="Send message">
				<div class="response"></div>
			</form>
			<div id="message-list">
				<% for (let message of context.messages) { %>
					<%- include('message', {
						message: message
					}); %>
				<% } %>
			</div>
		</div>
		<div id="members">
			<h2>Members</h2>
			<ul>
				<% for (let member of context.members) { %>
					<li><%= member.name %></li>
				<% } %>
			</ul>
		</div>
		<br class="clear">
	</div>
</div>
