<div id="intro">
	<div class="heading">
		<div class="content">
			<h1><%= instance.name %></h1>
			<h2 class="tagline"><%= instance.tagline %></h2>
		</div>
	</div>
	<div id="context">
		<div class="content">
			<div id="sidebar">
				<% if (person.name) { %>
					<h2>Hello, <%= person.name %>.</h2>
				<% } else { %>
					<h2>Hello.</h2>
				<% } %>
				<ul>
					<li><a href="/<%= person.slug %>">View your profile</a>
					<li><a href="/settings">Settings</a>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<h2 class="headroom">Groups</h2>
				<p><a href="/group" class="button inline">Create group →</a></p>
				<% if (! contexts.member_of.length) { %>
					<p>You are not a member of any groups.</p>
				<% } else { %>
					<ul>
					<% for (let group of contexts.member_of) { %>
						<% if (! group.parent_id) { %>
							<li><a href="/group/<%= group.slug %>"><%= group.name %></a>
								<% if (group.subgroups.length > 0) { %>
									<ul>
										<% for (let subgroup of group.subgroups) { %>
											<li><a href="/group/<%= subgroup.slug %>"><%= subgroup.name %></a></li>
										<% } %>
									</ul>
								<% } %>
							</li>
						<% } %>
					<% } %>
					</ul>
				<% } %>
			</div>
			<div id="main">
				<div class="message-list">
					<%- include('message-page', {
						show_group: true,
						context: latest_messages
					}) %>
					<% if (latest_messages.total_messages == 0) { %>
						<h2 id="no-messages">There are no messages for you to see here.</h2>
					<% } %>
				</div>
				<% if (latest_messages.total_messages > latest_messages.messages.length) { %>
					<% let last_message = latest_messages.messages.pop() %>
					<a href="#more-messages" id="more-messages" class="button" data-before-id="<%= last_message.id %>" data-path="/" data-total-messages="<%= latest_messages.total_messages %>">More messages →</a>
				<% } else { %>
					<a href="#more-messages" id="more-messages" class="button disabled">End of messages</a>
				<% } %>
			</div>
			<br class="clear">
		</div>
	</div>
</div>
