<div id="intro">
	<div class="heading">
		<div class="content">
			<h1>Organizer Network</h1>
		</div>
	</div>
	<div class="content">
		<div class="contexts">
			<% if (! contexts.member_of.length) { %>
				<p>You are not a member of any groups.</p>
			<% } else { %>
				<a href="/group" class="button inline">Create group →</a>
				<% for (let context of contexts.member_of) { %>
					<% if (! context.parent_id) { %>
						<div class="group">
							<h2><a href="/group/<%= context.slug %>"><%= context.name %></a></h2>
							<% if (latest[context.id]) { %>
								<% let msg = latest[context.id] %>
								<div class="latest">
									<span class="person"><%= msg.person_name %></span>:
									<span class="body"><%= msg.content.length > 64 ? (msg.content.substr(0, 64) + '...') : msg.content %></span>
									<div class="meta timestamp">
										<a href="/group/<%= context.slug %>/<%= msg.id %>">
											<%= msg.created %>
										</a>
									</div>
								</div>
							<% } %>
							<% if (context.subgroups && context.subgroups.length > 0) { %>
								<% for (let subgroup of context.subgroups) { %>
									<div class="subgroup">
										<h2><a href="/group/<%= subgroup.slug %>"><%= subgroup.name %></a></h2>
										<% if (latest[subgroup.id]) { %>
											<% let msg = latest[subgroup.id] %>
											<div class="latest">
												<span class="person"><%= msg.person_name %></span>:
												<span class="body"><%= msg.content.length > 64 ? (msg.content.substr(0, 64) + '...') : msg.content %></span>
												<div class="meta timestamp">
													<a href="/group/<%= subgroup.slug %>/<%= msg.id %>">
														<%= msg.created %>
													</a>
												</div>
											</div>
										<% } %>
									</div>
								<% } %>
							<% } %>
						</div>
					<% } %>
				<% } %>
			<% } %>
		</div>
		<div class="options">
			<% if (person.name) { %>
				<h2>Hello, <%= person.name %>.</h2>
			<% } else { %>
				<h2>Hello.</h2>
			<% } %>
			<ul>
				<li><a href="/<%= person.slug %>">View your profile</a>
				<li><a href="/settings">Settings</a>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
		<br class="clear">
	</div>
</div>
