<div id="intro">
	<div class="content">
		<div class="heading">
			<h1>Your groups</h1>
		</div>
		<div class="contexts">
			<% if (! contexts.member_of.length) { %>
				<p>You are not a member of any groups.</p>
			<% } else { %>
				<% for (let context of contexts.member_of) { %>
					<% if (! context.parent_id) { %>
						<h2><a href="/group/<%= context.slug %>"><%= context.name %></a></h2>
						<% if (context.subgroups && context.subgroups.length > 0) { %>
							<ul>
								<% for (let subgroup of context.subgroups) { %>
									<li><a href="/group/<%= subgroup.slug %>"><%= subgroup.name %></a></li>
								<% } %>
							</ul>
						<% } %>
					<% } %>
				<% } %>
			<% } %>
		</div>
		<div class="options">
			<% if (person.name) { %>
				<h2>Hello, <%= person.name %>.</h2>
			<% } else { %>
				<h2>Hello.</h2>
			<% } %>
			<ul>
				<li><a href="/group">Create a new group</a></li>
				<li><a href="/<%= person.slug %>">View your profile</a>
				<li><a href="/settings">Settings</a>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
		<br class="clear">
	</div>
</div>
