<div id="intro">
	<div class="heading">
		<div class="content">
			<h1><%= instance.name %></h1>
			<h2 class="tagline"><%= instance.tagline %></h2>
		</div>
	</div>
	<div class="content">
		<div class="options">
			<% if (person.name) { %>
				<h2>Hello, <%= person.name %>.</h2>
			<% } else { %>
				<h2>Hello.</h2>
			<% } %>
			<ul>
				<li><a href="/<%= person.slug %>">View your profile</a>
				<li><a href="/settings">Settings</a>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
		<div class="contexts">
			<a href="/group" class="button inline">Create group →</a>
			<% if (! contexts.member_of.length) { %>
				<p>You are not a member of any groups.</p>
			<% } else { %>
				<%- include('intro-groups', {
					groups: contexts.member_of
				}) %>
			<% } %>
		</div>
		<br class="clear">
	</div>
</div>
