<% if (latest[context.id]) { %>
	<% let msg = latest[context.id] %>
	<div class="latest">
		<div class="help">Latest message</div>
		<a href="/<%= msg.person_slug %>" class="person"><%= msg.person_name %></a>
		<pre class="message-content"><%= msg.content %></pre>
		<div class="meta timestamp">
			<a href="/group/<%= context.slug %>/<%= msg.id %>">
				<%= msg.created.toJSON() %>
			</a>
		</div>
	</div>
<% } %>
