<div id="intro">
	<div class="heading">
		<div class="content">
			<% if (invite) { %>
				<h1>Join <%= invite.context.name %></h1>
				<h2 class="tagline"><%= invite.person.name %> invited you to join a group on <%= instance.name %>.</h2>
			<% } else { %>
				<h1><%= instance.name %></h1>
				<h2 class="tagline"><%= instance.tagline %></h2>
			<% } %>
		</div>
	</div>
	<div class="content">
		<form action="/api/login" method="post" id="login">
			<% if (invite) { %>
				<input type="hidden" name="invite" value="<%= invite.invite_slug %>">
			<% } %>
			<% if (then) { %>
				<input type="hidden" name="then" value="<%= then %>">
			<% } %>
			<div class="step"><span class="number">1</span> <span class="text">Login by email</span></div>
			<div class="controls">
				<label for="email">
					Email address
				</label>
				<input type="email" id="email" name="email" placeholder="email@address.com">
				<input type="submit" value="Start →">
			</div>
			<div class="response"></div>
			<div class="step"><span class="number">2</span> Setup your profile</div>
			<div class="step"><span class="number">3</span> Organize and raise hell!</div>
		</form>
		<div id="about">
			<h2>About <%= instance.name %></h2>
			<%= instance.about %>
		</div>
		<br class="clear">
	</div>
</div>
