<%- include('intro', {
	person: person,
	contexts: contexts
}) %>
<div id="context">
	<div class="content">
		<div id="main">
			<form action="/api/group" method="post" id="new-group">
				<h1>Create a new group</h1>
				<label for="name">Name</label>
				<input type="text" id="name" name="name">
				<label for="about-input">About</label>
				<textarea name="about" id="about-input" cols="40" rows="4"></textarea>
				<label for="parent">Create this group inside of</label>
				<select name="parent" id="parent">
					<option value="0">(no parent group)</option>
					<% for (context of contexts.member_of) { %>
						<option value="<%= context.id %>"><%= context.name %></option>
					<% } %>
				</select>
				<label for="slug-input">Group URL</label>
				<div><code><%= base_url %>/group/</code><input type="text" id="slug-input" name="slug" value="<%= default_slug %>"></div>
				<input type="submit" value="Create Group">
				<div class="response"></div>
			</form>
		</div>
		<div id="sidebar">
			<div id="privacy">
				<h2>No privacy settings</h2>
				<ul>
					<li>All groups are private.</li>
					<li>All members must be invited.</li>
					<li>Groups are not listed anywhere.</li>
					<li>Content is only visible to members.</li>
				</ul>
			</div>
		</div>
		<br class="clear">
	</div>
</div>
