<%- include('intro', {
	person: person,
	contexts: contexts
}) %>
<div id="context">
	<div class="content">
		<div id="main">
			<form action="/api/group" method="post" id="new-group">
				<h1>Create a new group</h1>
				<label for="name">Name</label>
				<input type="text" id="name" name="name">
				<label for="topic-input">Topic</label>
				<textarea name="topic" id="topic-input" cols="40" rows="4"></textarea>
				<% if (contexts.member_of.length > 0) { %>
					<label for="parent-group">Create as a subgroup of</label>
					<select name="parent_id" id="parent-group">
						<option value="0">(no parent group)</option>
						<% for (context of contexts.member_of) { %>
							<% if (! context.parent_id) { %>
								<option value="<%= context.id %>" data-slug="<%= context.slug %>"><%= context.name %></option>
							<% } %>
						<% } %>
					</select>
				<% } %>
				<label for="slug-input">Group URL</label>
				<div id="group-url"><code><%= base_url %>/group/<span id="parent-slug"></span></code><input type="text" id="slug-input" name="slug" value="<%= default_slug %>"></div>
				<input type="submit" value="Create Group →">
				<a href="/" class="cancel button">Cancel</a>
				<div class="response"></div>
			</form>
		</div>
		<div id="sidebar">
			<div id="privacy">
				<h2>No privacy settings</h2>
				<ul>
					<li>All groups are private.</li>
					<li>All members must be invited.</li>
					<li>Groups are not listed anywhere.</li>
					<li>Content is only visible to members.</li>
					<% if (contexts.member_of.length > 0) { %>
						<li>Subgroups can be discovered and joined by members of their parent group.</li>
					<% } %>
				</ul>
			</div>
		</div>
		<br class="clear">
	</div>
</div>
