<%- include('intro', {
	person: person,
	contexts: contexts
}) %>
<div id="context" class="thread" data-id="<%= context.messages[0].id %>">
	<div class="content">
		<div id="messages">
			<h2><%= context.name %></h2>
			<ul class="back">
				<li><a href="/group/<%= context.slug %>" id="group-link">Group: <%= context.name %></a></li>
				<% if (context.messages[0].in_reply_to) { %>
					<li><a href="/group/<%= context.slug %>/<%= context.messages[0].in_reply_to %>">In reply to message</a></li>
				<% } %>
			</ul>
			<div id="message-list">
				<%- include('message-page', {
					context: context,
					member: member
				}) %>
			</div>
		</div>
		<%- include('sidebar') %>
		<br class="clear">
	</div>
</div>
