<%- include('nav', {
	person: person
}) %>
<div id="intro">
	<div class="content">
		<h1><%= context.name %></h1>
		<p class="topic"><%= context.topic %></p>
		<% if (context.parent) { %>
			<ul class="back">
				<li><a href="/group/<%= context.parent.slug %>">Group: <%= context.parent.name %></a></li>
			</ul>
		<% } %>
		<form action="/api/join" id="unsubscribed" class="headroom">
			<input type="hidden" name="context_id" value="<%= context.id %>">
			<% if (inactive) { %>
				<div><strong>You are no longer a member of this
					<% if (context.parent_id) { %>
						subgroup<% } else { %>
						group<% } %>, but you can rejoin.</strong></div>
			<% } else { %>
				<div><strong>You can join this subgroup as a member of its parent group.</strong></div>
			<% } %>
			<% if (inactive) { %>
				<input type="submit" value="Rejoin group →">
			<% } else { %>
				<input type="submit" value="Subscribe →">
			<% } %>
			<div class="response"></div>
		</form>
	</div>
</div>
